*.o
*.lo
*.la
*.a
*.exe
*.pc
*.spec
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
po
examples/glpixmap
examples/gtkglarea_demo
examples/makefile.mingw
examples/shaders
examples/simple
examples/viewlw
examples/zktor
gtkgl/makefile.mingw
